.item {
	border-radius: 20px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.2);
	display: grid;
	gap: 25px;
	align-items: start;
	grid-template-rows: min-content min-content;
	color: var(--color-light);
}

.itemImage {
	width: 100%;
	height: 0;
	padding-top: 100%;
	position: relative;
	background: #fff;
}

.itemContent {
	display: grid;
	gap: 10px;
	padding: 0 25px 25px;
	align-items: start;
}

.itemHeader {
	display: grid;
	/* gap: 2px; */
}

.itemTitle {
	font-size: 30px;
	font-family: var(--font-sigmar);
	line-height: 30px;
	margin-bottom: 10px;
}

.itemInfo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 25px;
	row-gap: 0;
	overflow: hidden;
}

.itemInfoItem {
	font-size: 16px;
	font-family: var(--font-hanken);
	font-weight: bold;
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 5px;
		height: 5px;
		background: var(--color-light);
		border-radius: 100%;
		position: absolute;
		left: -15px;
		top: 9px;
		opacity: 0.75;
	}
}

.itemDescription {
	font-size: 16px;
	font-family: var(--font-hanken);
}
