.component {
	padding: 100px 25px;
	color: var(--color-light);
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	gap: 100px;
}

.content {
	display: grid;
	align-items: center;
	gap: 20px;
	text-align: center;
	max-width: 600px;
	margin: auto;
}

.header {
	display: grid;
	gap: 5px;
}

.title {
	font-size: 40px;
	line-height: 50px;
	font-family: var(--font-sigmar);

	@media (min-width: 768px) {
		font-size: 50px;
	}
}

.subtitle {
	font-size: 25px;
	font-family: var(--font-hanken);
	font-weight: 900;
}

.description {
	font-size: 25px;
	font-family: var(--font-hanken);
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 50px;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
}

.item {
	border-radius: 20px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.2);
	display: grid;
	gap: 25px;
	align-items: start;
	grid-template-rows: min-content min-content;
}

.itemImage {
	width: 100%;
	height: 0;
	padding-top: calc((2 / 3) * 100%);
	position: relative;
}

.itemContent {
	display: grid;
	gap: 10px;
	padding: 0 25px 25px;
	align-items: start;
}

.itemTitle {
	font-size: 30px;
	font-family: var(--font-sigmar);
}

.itemDescription {
	font-size: 25px;
	font-family: var(--font-hanken);
}
