@import "tailwindcss";

:root {
	--color-dark: #0e0e0e;
	--color-light: #edece7;
	--color-yellow: #e6dc1b;
	--color-light-green: #1a9638;
	--color-dark-green: #2c4020;
}

@theme inline {
	--color-dark: var(--color-dark);
	--color-light: var(--color-light);
	--color-yellow: var(--color-yellow);
	--color-light-green: var(--color-light-green);
	--color-dark-green: var(--color-dark-green);
	--font-sigmar: var(--font-sigmar);
	--font-hanken: var(--font-hanken);
	--font-permanent-marker: var(--font-permanent-marker);
}

body {
	background: var(--color-light-green);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
