.component {
	padding: 250px 25px 100px;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	gap: 100px;
}

.content {
	max-width: 800px;
	display: grid;
	gap: 25px;
	color: var(--color-light);
	text-align: center;
	margin: auto;
}

.title {
	font-size: 40px;
	line-height: 50px;
	font-family: var(--font-sigmar);
	text-transform: uppercase;

	@media (min-width: 768px) {
		font-size: 60px;
	}
}

.description {
	font-size: 25px;
	font-family: var(--font-hanken);
}

.drinks {
	display: grid;
	gap: 50px;
}

.navigation {
	position: sticky;
	top: 15px;
	z-index: 50;
	font-size: 25px;
	font-family: var(--font-hanken);
	line-height: 30px;
	color: var(--color-light);
	text-align: center;
	width: 250px;
	margin: auto;

	@media (min-width: 1200px) {
		width: 100%;
		max-width: 854px;
	}
}

.currentMenu {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	padding: 10px 10px;
	box-shadow: 0 0 10 rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(30px);
	cursor: pointer;
	position: relative;

	@media (min-width: 1200px) {
		display: none;
	}

	svg {
		position: absolute;
		top: 13px;
		right: 20px;
		transform: rotate(0deg);
		transform-origin: center center;
		transition: transform 0.15s ease-in-out;
	}

	&[data-open="true"] {
		svg {
			transform: rotate(180deg);
		}
	}
}

.menus {
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	padding: 8px 10px;
	display: grid;
	gap: 5px;
	position: absolute;
	top: calc(100% + 15px);
	box-shadow: 0 0 10 rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(30px);
	opacity: 0;
	pointer-events: none;
	transition: all 0.15s ease-in-out;
	transform: rotateX(25deg);
	transform-origin: top center;

	&[data-open="true"] {
		opacity: 1;
		transform: rotateX(0);
		pointer-events: all;
	}

	@media (min-width: 1200px) {
		opacity: 1;
		transform: none;
		pointer-events: all;
		position: initial;
		top: 0;
		grid-auto-flow: column;
	}
}

.menu {
}

.menuButton {
	padding: 8px 10px;
	border-radius: 30px;
	width: 100%;
	cursor: pointer;
	transition: all 0.15s ease-in-out;

	&[data-active="true"] {
		background: rgba(255, 255, 255, 0.2);
	}
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: grid;
}

.item {
	grid-column-start: 1;
	grid-row-start: 1;
	opacity: 0;
	transition: opacity 0.15s ease-in-out;
	pointer-events: none;

	&[data-selected="true"] {
		opacity: 1;
		pointer-events: all;
	}
}

.items {
	display: grid;
	gap: 25px;

	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width: 1200px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
