.component {
	color: var(--color-light);
	position: relative;
	display: grid;
	align-items: center;
	justify-content: center;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	gap: 75px;
	padding: 100px 0;
	position: relative;
	z-index: 1;
	grid-row-start: 1;
	grid-column-start: 1;
	width: 100%;

	@media (min-width: 768px) {
		padding: 150px 0;
	}
}

.content {
	display: grid;
	gap: 20px;
	text-align: center;
	max-width: 650px;
	margin: 0 auto;
	padding: 25px;

	p {
		font-size: 25px;
		font-family: var(--font-hanken);
	}
}

.header {
	display: grid;
	gap: 5px;
}

.title {
	font-size: 40px;
	line-height: 50px;
	font-family: var(--font-sigmar);

	@media (min-width: 768px) {
		font-size: 50px;
	}
}

.subtitle {
	font-size: 25px;
	font-family: var(--font-hanken);
	font-weight: 900;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
	flex-direction: row;
	width: 100%;
}

.item {
	display: grid;
	gap: 10px;
	text-align: center;
	width: 100%;
	max-width: calc((1200px - 75px) / 4);

	p {
		font-size: 25px;
		font-family: var(--font-hanken);
	}
}

.itemTitle {
	font-size: 30px;
	font-family: var(--font-sigmar);
}

.background {
	align-self: start;
	position: sticky;
	top: 0;
	grid-row-start: 1;
	grid-column-start: 1;
	height: 100%;
	width: 100vw;
	z-index: 0;
	overflow: hidden;
	mix-blend-mode: hard-light;
}
