.component {
	padding: 150px 25px;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	gap: 50px;

	@media (min-width: 768px) {
		grid-template-columns: minmax(0, 600px) minmax(0, 500px);
		justify-content: space-between;
		align-items: center;
	}
}

.content {
	color: var(--color-light);
	display: grid;
	gap: 20px;

	h2 {
		font-size: 50px;
		line-height: 50px;
		font-family: var(--font-sigmar);
	}

	p {
		font-size: 25px;
		font-family: var(--font-hanken);
	}
}

.image {
	position: relative;
	border-radius: 20px;
	border: solid 5px var(--color-light);
	overflow: hidden;
	width: 100%;
	height: 0;
	padding-top: 70%;

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
