.component {
	position: relative;
	min-height: 100vh;
	/* background: var(--color-dark); */
	background: black;
	padding: 100px 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	text-align: center;
	color: var(--color-light);
	display: flex;
	flex-direction: column;
	gap: 50px;

	h2 {
		font-family: var(--font-sigmar);
		font-size: 50px;
		position: relative;
		line-height: 1em;
		padding: 20px 0;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			max-width: 320px;
			height: 3px;
			background: var(--color-yellow);
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			max-width: 320px;
			height: 3px;
			background: var(--color-yellow);
		}
	}

	p {
		font-family: var(--font-hanken);
		font-size: 25px;
		max-width: 600px;
	}
}

.background {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	/* max-width: 1200px; */
	height: 100%;
	object-fit: cover;
	z-index: 0;

	img {
		/* opacity: 0.3;
		mask-image: radial-gradient(
			ellipse calc(100% - 60px) calc(100% - 60px) at center,
			black 85%,
			transparent 100%
		); */
		opacity: 0.3;
		mask-image: linear-gradient(
			to right,
			transparent 0%,
			black 50%,
			transparent 100%
		);
		/* mask-image: url("#round-fade");
		mask-mode: alpha; */
	}
}
